#ui-tooltip-mit-overlay {
  width: 800px;
  max-width: 800px;
}

#ui-tooltip-mit-overlay-content {
  position: relative;
  height: 500px;
  max-height: 500px;
}

#qtip-overlay div {
  background-color: #aaa;
}

#ui-tooltip-mit-overlay-content #mit-global {
  margin-top: 5px;
}

#ui-tooltip-mit-overlay-content .section-rotation {
  margin-top: 15px;
  border-top: solid 1px #777;
}

#ui-tooltip-mit-overlay-content h3 {
  font-size: 15px;
  margin: 0 0 15px 0;
  padding: 0;
}

#ui-tooltip-mit-overlay-content .section-rotation h3 {
  margin-top: 10px;
}

#ui-tooltip-mit-overlay-content #mit-lcol {
  float: left;
  width: 500px;
  height: 450px;
  padding-right: 10px;
  border-right: solid 1px #777;
}

#ui-tooltip-mit-overlay-content .jcrop-tracker {
  -moz-box-shadow: inset 0 0 10px 1px #000;
  -webkit-box-shadow: inset 0 0 10px 1px #000;
  box-shadow: inset 0 0 10px 1px #000;
}

#ui-tooltip-mit-overlay-content #mit-rcol {
  float: right;
  width: 260px;
}

#ui-tooltip-mit-overlay-content #mit-buttons {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 42px;
  text-align: center;
  border-top: solid 1px #777;
}

#ui-tooltip-mit-overlay-content #mit-buttons button {
  margin: 8px;
}

#ui-tooltip-mit-overlay-content #mit-button-save {
  background: #fff;
}

#ui-tooltip-mit-overlay-content #mit-button-save.ui-state-hover {
  color: #000;
}